body{
    font-family: Verdana;
}

.title {
    text-align: center;
}

ul.navbar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.navbar {
    display: inline;
}