body{
    font-family: Verdana;
}

.title {
    color: red;
    text-align: center;
}

ul.navbar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.navbar {
    display: inline;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
}